body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/contact.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  font-family: "Poppins", sans-serif;
}

.contact-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-info {
  color: #fff;
  max-width: 500px;
  line-height: 65px;
  padding-left: 50px;
  font-size: 20px;
}

.contact-info i {
  margin-right: 20px;
  font-size: 25px;
}

.contact-form {
  max-width: 700px;
  margin-right: 50px;
}

.contact-info,
.contact-form {
  flex: 1;
}

.contact-form h2 {
  color: #fff;
  text-align: center;
  font-size: 35px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.contact-form .teksti {
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  border: none;
  width: calc(50% - 10px);
  height: 50px;
  padding: 12px;
  font-size: 15px;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.contact-form .teksti:first-child {
  margin-right: 15px;
}

.contact-form textarea {
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  border: none;
  width: 100%;
  padding: 12px;
  font-size: 15px;
  min-height: 200px;
  max-height: 400px;
  resize: vertical;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.contact-form .send-btn {
  float: right;
  background: #405736;
  color: #fff;
  border: none;
  width: 120px;
  height: 40px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  transition-property: background;
}

.contact-form .send-btn:hover {
  background: #2a3624;
}

@media only screen and (max-width: 700px) {
  .contact-section {
    flex-direction: column;
  }

  .contact-info {
    margin-top: 80px;
    font-size: 20px;
    margin-left: -50px;
  }

  .contact-info i {
    font-size: 25px;
  }

  .contact-form {
    margin: 50px 50px 20px 50px;
    width: 400px;
  }

  .contact-form h2 {
    font-size: 35px;
  }
}

@media only screen and (max-width: 500px) {
  .contact-section {
    flex-direction: column;
  }

  .contact-info {
    margin-top: 80px;
    font-size: 15px;
    margin-left: -40px;
  }

  .contact-info i {
    font-size: 20px;
  }

  .contact-form {
    margin: 50px 50px 20px 50px;
    width: 310px;
  }

  .contact-form h2 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 500px) {
  .contact-form {
    width: 260px;
  }
}
